<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <input type="text" id="file_name">
    <input id="file" type="file" accept="image/jpeg, image/jpg, image/png">
    <button id="upload_btn">업로드</button>
</body>
<script src="../static/index.js?ver=12"></script>

</html>